---
import LogoFooter from "../components/logo/LogoFooter.astro";
import LogoIg from "../components/logo/Ig.astro";
const { t } = Astro.props;
const currentYear = new Date().getFullYear()

---

<footer
class="mt-20 p-4 md:p-8 lg:p-10">
    <div 
    data-aos="fade-up"
    class="mx-auto max-w-screen-xl text-center">
        <a href="#top" class="flex items-center justify-center mb-10">
            <LogoFooter class="h-15 md:h-25 text-zinc-900 dark:text-zinc-100" />
        </a>

        <ul
            class="text-xs md:text-base flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
        >
            <li>
                <a href="#encima" class="mr-4 hover:underline md:mr-6">{t.link1}</a>
            </li>
            <li>
                <a href="#services" class="mr-4 hover:underline md:mr-6"
                    >{t.link2}</a
                >
            </li>
            <li>
                <a href="#post" class="mr-4 hover:underline md:mr-6"
                    >{t.link3}</a
                >
            </li>
            <li>
                <a href="#project" class="mr-0 hover:underline md:mr-6"
                    >{t.link4}</a
                >
            </li>
        </ul>
        <span class="text-base text-gray-500 sm:text-center dark:text-gray-400">
            © {currentYear} <a href="#top" class="hover:underline">{t.nameCopyright}</a>.
            {t.allCopyright}</span><br class="block md:hidden">
        <span class="bg-gray-900 dark:bg-gray-200 text-base text-gray-100 dark:text-gray-900 px-2 sm:text-center dark:text-gray-400">
            {t.nameMade} <a href="https://www.rodfuentealba.com/" target="_blank" class="hover:underline">{t.nameMadeRod}</span>
    </div>
    <div 
    class="flex justify-center mt-10">
        <a href="https://www.instagram.com/byencima/" target="_blank" class="flex items-center transition duration-100 text-gray-900 dark:text-gray-200 hover:scale-110 hover:text-amber-500">
            <LogoIg class="size-6 mr-2" alt="Logo Instagram de byencima encimastudio encima"/>
            <h1 class="font-extrabold">@byencima</h1>
        </a>
    </div>
</footer>

<style>
    .caprasimo {
        font-family: "Caprasimo", system-ui;
        position: relative;
    }
</style>
