---
import Service01 from '../components/icons/Sphotoscan.astro'
import Service02 from '../components/icons/Briefcase.astro'
import Service03 from '../components/icons/GlassCham.astro'
import Service04 from '../components/icons/FocusCenter.astro'
import Service05 from '../components/icons/Carambola.astro'

const { t } = Astro.props;
const services = [
  {
    title: t.outdoorTitle,
    description: t.outdoorText,
    image: '/projects/services/service-01.webp',
    icon: Service01,
    span: 'col-span-full md:col-span-3',
    aos: 'fade-up',
    aosDelay: '0'
  },
  {
    title: t.briefcaseTitle,
    description: t.briefcaseText,
    image: '/projects/services/service-02.webp',
    icon: Service02,
    span: 'col-span-full md:col-span-2',
    aos: 'fade-up',
    aosDelay: '200'
  },
  {
    title: t.eventTitle,
    description: t.eventText,
    image: '/projects/services/service-03.webp',
    icon: Service03,
    span: 'col-span-full md:col-span-2',
    aos: 'fade-up',
    aosDelay: '400'
  },
  {
    title: t.indoorTitle,
    description: t.indoorText,
    image: '/projects/services/service-04.webp',
    icon: Service04,
    span: 'col-span-full md:col-span-3',
    aos: 'fade-up',
    aosDelay: '600'
  },
  {
    title: t.sportsTitle,
    description: t.sportsText,
    image: '/projects/services/service-05.webp',
    icon: Service05,
    span: 'col-span-full',
    aos: 'fade-up',
    aosDelay: '800'
  },
];
---
<button
			data-aos="fade-up"
			data-aos-delay="300"
			type="button"
			class="text-gray-900 border border-gray-800 font-medium rounded-lg text-lg px-8 py-2 text-center dark:border-gray-200 dark:text-gray-200"
			>{t.Title}</button
		>

<div class="grid gap-6 md:grid-cols-5 md:gap-6 mt-30">
  {services.map(({ aos,aosDelay, title, description, image, icon: Icon, span }) => (
    <div 
    data-aos={`${aos}`}
    data-aos-delay={`${aosDelay}`}
    class={`${span} group relative h-[500px] rounded-xl overflow-hidden`}>
      <div class="absolute inset-0 z-0 transition duration-500 group-hover:scale-110">
        <img class="object-cover object-top w-full h-full" loading="lazy" src={image} />
      </div>
      <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black/60 z-1"></div>
      <div class="relative z-2 flex flex-col justify-between h-full text-left p-10 text-white">
        <Icon class="size-10" />
        <div class="flex flex-col items-start">
          <h1 class="caprasimo text-5xl mb-2">{title}</h1>
          <p class="text-base">{description}</p>
        </div>
      </div>
    </div>
  ))}
</div>

  <style>  
    .caprasimo {
      font-family: 'Caprasimo', system-ui;
    }
  </style>